@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,400;1,700&display=swap');

.hero-text > h1 {
  font-size: 120px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: italic;
}

.hero-text > h1 > span {
  font-weight: bold !important;
  color: #D33682;
}

@media (max-width: 768px) {
  .hero-text > h1 {
    font-size: 100px;
  }
}