@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,700;1,700&family=Roboto:wght@100;300;700&display=swap');

/*===================================
			          Basic
===================================*/

* {
	padding: 0;
	margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

ol, ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
	-webkit-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
	-ms-transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
}

a, a:focus, a:hover {
	text-decoration: none;
	outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Roboto', sans-serif;
}

.hr-line {

}

/*===================================
				        Navbar
===================================*/

.navbar {
  border: 0;
  padding-top: 8px;
	padding-bottom: 8px;
  margin-bottom: 0;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

.navbar-brand {
  padding: 0px;
  margin-left: 40px;
  font-weight: bold;
  font-size: 28px !important;
}

.navbar-brand > span {
  font-weight: bold;
  font-style: italic;
  color: #D0006F;
}

.navbar a {
	color: #A2A2A2 !important;
}

.navbar a:hover {
  color:#D0006F !important;
}

.navbar-nav li.active a {
  color:#D0006F !important;
}

/*===================================
				        Hero
===================================*/

.hero-header {
  height: 900px;
  width: 100%;
  color: #A2A2A2;
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('./images/hero-image.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.hero-text {
  padding-top: 120px;
  margin: 0 auto;
}

.hero-text > h1 {
  font-size: 55px;
  letter-spacing: 5px;
  margin: 50px 0;
}

.hero-text > h4 {
  color: #FFFFFF;
  letter-spacing: 4px;
}

.angle-down {
  position: absolute;
  text-align: center;
  left: 0;
  bottom: 50px;
  font-weight: bold;
  display: table;
  width: 100%;
}

.angle-down:hover,
.angle-down:focus{
    text-decoration: none;
}

.angle-down > i {
  color: #A2A2A2;
  font-size: 50px;
  animation: blink  2.5s ease-in-out infinite;
  display: table-cell;
  vertical-align: middle;
}

@keyframes blink {
  0% {
    opacity: .8
  }
  50% {
    -webkit-transform: translateY(12px)  scale(1);
    opacity: 0;
  }
  100% {
    -webkit-transform:  scale(1);
    opacity: .6;   
  }
}

@media (max-width: 768px) {
  .hero-header {
    height: 600px;
  }

  .hero-text > h1 {
		font-size: 22px;
    line-height: 25px;
  }
  
  .hero-text > h4 {
		font-size: 14px;
    letter-spacing: 3px;
  }
  
  .angle-down i{
    font-size: 30px;
    padding-bottom: 30px;
  }
}